<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paste App</title>
    <link rel="stylesheet" href="/static/css/atom-one-dark.min.css"> 
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="icon" type="image/png" href="/static/android-chrome-512x512.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#0C1B33" >
</head>
<body>
    <!--Contenedor principal-->
   <div class="contenedor">
     <nav>
       <ul>
         <li class="li_portapapeles active">Portapapeles</li>
         <li class='li_archivo'>Archivo</li>
       </ul>
     </nav>
        <section id="contenedor_area_texto" class="c">
            <p class="p port">Portapapeles</p><br>
            <textarea 
                id="txt_area_paste"
                    spellcheck="false"
                    placeholder="Escriba aqui"
                    value=""
                ></textarea>
            <pre>
            <code id="codigo">
            </code>
            <button id="btn_copiar">Copiar</button>
            </pre>
        </section>
        <section id="contenedor_area_archivo" class="desactive">
            <p class="p port">Subir Archivo</p>
            <div class="archivo">
                <input type="file" id="input_file" style="display: none;">
                <label for="input_file" class="btn-subir" >Elegir archivo</label>
                <p class="input_file_txt">_</p>
                <button class="btn_subir">Subir</button>
                <div id="barr">
                    <div id="progress_barr">
                        <p id="porcentaje">0</p>
                    </div>
                </div>
            </div>
            <div class="archivo disponible">
                <p id="txt_archivo"><strong>Archivo disponible:</strong> Ninguno</p>
  <a id="dwl" href="/download">DESCARGAR</a>
            </div>

            <div class="contenedor_multimedia">

            </div>

        </section>
    

        <button class="btn_suscribirse">SUSCRIBIRSE</button>
        <input  class="mensaje" type="text">
        <button class="btn_enviar">ENVIAR A TODOS</button>

   </div> 
</body>
<script type="module" src="/static/js/notificaciones.js"></script>
<script src="/static/js/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<script src="/static/js/socket.io.min.js"></script>
<script type="module" src="/static/js/script.js"></script>
</html>
